body {
    background: #c1c1c1;
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.columns {
    display: flex;
    width: 90%;
    height: 90vh;
}

.firstColumn {
    background-color: yellow;
    width: 50%;
    height: 100%;
}

.secondColumn {
    background-color: greenyellow;
    width: 50%;
    height: 100%;
}

.thirdColumn {
    background-color: skyblue;
    width: 50%;
    height: 100%;
}

